<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>High Street Art Gallery</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon_io/favicon-32x32.png"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="bg-slate-900 h-20 flex justify-between place-items-center px-2 text-white">
          <a href="/profile" class="w-32">
            <img src="/imgs/high-street-rectangle.png" class="w-full rounded-2xl"/>
          </a>
        <ul class="space-x-4 text-lg font-bold">
          <a href="/login" class="hover:outline w-24 p-4 bg-transparent rounded-xl duration-100">Login</a>
          <a href="/signup" class="w-24 p-4 bg-white rounded-xl text-slate-900 hover:text-white hover:bg-slate-900 hover:outline duration-300">Signup</a>
        </ul>
    </header>
  </body>
</html>
